body {
    margin: 0;
    padding: 20px;
    color: goldenrod;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#authorsHeading {
    color: brown;
    text-align: center;
}

#authorsHeading:hover {
    color: red;
    border-radius: 50px;
    background-color: beige;
    transition: color 0.3s ease;
}

#authors {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

.author {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author:hover {
    background-color: lightcyan;
    transition: background-color 0.3s ease;
}

.author-information {
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: ghostwhite;
    border-radius: 5px;
}

.author-information li {
    padding: 5px;
}

.email {
    color: lightseagreen;
}

.address {
    font-style: italic;
    color: darkslategrey;
}